@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-danger">Oops! Something went wrong.</h1>
            <p>An unexpected error occurred. Please try again later.</p>
            <a class="btn btn-primary" href="/">Return to Home</a>
        </div>
    </div>
</div>
