@model IEnumerable<WasteReductionPlatform.Models.PickupSchedule>

@{
    ViewData["Title"] = "Missed Pickups";
}

<h1>Missed Pickups</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Area</th>
            <th>User Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PickupDate.ToShortDateString()</td>
                <td>@item.PickupType</td>
                <td>@item.Area</td>
                <td>@item.UserType</td>
            </tr>
        }
    </tbody>
</table>
