@{
    ViewData["Title"] = "Educational Resources";
}

<h1>Educational Resources</h1>

<p>Here are some resources to help you understand waste management and recycling practices:</p>

<ul>
    <li><a href="https://www.canada.ca/en/services/environment/conservation.html" target="_blank">Government of Canada - Conservation</a></li>
    <li><a href="https://www.recyclingcouncil.org/" target="_blank">Recycling Council of Ontario</a></li>
    <li><a href="https://www.ecojustice.ca/" target="_blank">Ecojustice Canada</a></li>
    <li><a href="https://www.environmentaldefence.ca/" target="_blank">Environmental Defence</a></li>
    <li><a href="https://earth911.com/" target="_blank">Earth911</a></li>
    <li><a href="https://www.nrdc.org/" target="_blank">Natural Resources Defense Council</a></li>
</ul>
